{% block style %}
  <style>
    #ttskch-paginator-pager * {
      margin: 0;
      padding: 0;
    }
    #ttskch-paginator-pager > * {
      display: inline-block;
      margin: 0 0.3em;
    }
    #ttskch-paginator-pager ul li {
      display: inline-block;
    }
  </style>
{% endblock %}

<div id="ttskch-paginator-pager">
  {% block page_status %}
    <div class="page-status">
      {{ item_left }} - {{ item_right }} / {{ item_last }}
    </div>
  {% endblock %}

  {% block limit_selector %}
    <select class="limit-selector" onchange="location.href=this.querySelector('option:checked').getAttribute('data-link')">
      {% for limit in selectable_limits|default([10, 25, 50, 100, 250, 500]) %}
        <option data-link="{{ path(route, queries|merge(route_params)|merge({(limit_name): limit, (page_name): 1})) }}" {% if limit == limit_current %}selected{% endif %}>
          {{ limit }}
        </option>
      {% endfor %}
    </select>
  {% endblock %}

  {% block pager %}
    <ul class="pager">
      {% block left %}
        {% if page_left > page_first %}
          <li><a href="{{ path(route, queries|merge(route_params)|merge({(page_name): 1})) }}">1</a></li>
        {% endif %}
        {% if page_left > page_first + 1 %}
          <li class="disabled">...</li>
        {% endif %}
      {% endblock %}

      {% block range %}
        {% for page in page_left..page_right %}
          {% set url = path(route, queries|merge(route_params)|merge({(page_name): page})) %}
          {% if page == page_current %}
            <li class="active"><span>{{ page }}</span></li>
          {% else %}
            <li><a href="{{ url }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
      {% endblock %}

      {% block right %}
        {% if page_right < page_last - 1 %}
          <li class="disabled">...</li>
        {% endif %}
        {% if page_right < page_last %}
          <li><a href="{{ path(route, queries|merge(route_params)|merge({(page_name): page_last})) }}">{{ page_last }}</a></li>
        {% endif %}
      {% endblock %}
    </ul>
  {% endblock %}
</div>
